body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }
  
  .perfil {
    height: 100vh;
    background: linear-gradient(to bottom left,#09bb18,#2c1bc7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .perfilConteiner {
    min-height: 400px;
    width: 300px;
    background-color:rgb(255, 255, 255) ;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .perfilForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .loginTitle {
    margin-bottom: 32px;
    color: rgb(0, 0, 0);
  }
  .inputNome {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
    position: relative;
  }
  .inputSenha {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
    position: relative;
  }
  .inputPhone {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
    position: relative;
  }
  
  .perfil__input-border {
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background: linear-gradient(120deg,#2c1bc7,#09bb18);
    transition: .3s ease-in-out;
  }
  .perfilsenha__input-border{
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background: linear-gradient(120deg,#2c1bc7,#09bb18);
    transition: .3s ease-in-out;
  }
  .perfilphone__input-border {
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background: linear-gradient(120deg,#2c1bc7,#09bb18);
    transition: .3s ease-in-out;
  }
  .senha__input-border ::after{
    content: '';
    display: block;
    height: 1px;
    width: 0;
    margin-bottom: 16px;
    background: linear-gradient(120deg,#2c1bc7,#09bb18);
    transition: .3s ease-in-out;
  }
  .button {
    height: 48px;
    width: 100%;
    padding-left: 8px;
    outline: none;
    position: relative;
    background: linear-gradient(120deg,#2c1bc7,#09bb18);
    background-size: 200%;
    margin-bottom: 32px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: unset;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .button:hover {
    background-position: right;
  }
  
 
  
  